<div class="container my-4" style="position: absolute; left: 50%;">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2 class="display-6">Movies</h2>
        <!-- <div class="d-flex justify-content-center align-items-center mb-3">
          <button class="btn btn-primary btn-lg" (click)="onLoad()">Load Movies</button>
          <div class="spinner-border text-primary ms-3" role="status" *ngIf="wait">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div> -->
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search movies..."
          [(ngModel)]="searchQuery"
          (input)="filterMovies()"
        />
      </div>
    </div>
  
    <hr>
  
    <div class="row g-4">
      <div class="col-md-4" style="background: #f1f1f1; padding: 10px; margin-bottom: 10px;" *ngFor="let movie of filteredMovies">
        <app-movie-item [movie]="movie"></app-movie-item>
      </div>
    </div>
  </div>
  